@charset "UTF-8";
@import url("Questrial_Regular/stylesheet.css");
/* CSS Document */

 #mygallery{
	margin: 0 auto;
	position: relative;
	width: 1260px;
	padding-left: 25px;
}

html,
body 
{
	height: 100%;

	margin: 0;
}

/* N A V B A R */

#nav{
	margin-top: 0;
	top: -10px;
}

/* F O O T E R */
.text-uppercase{
	text-align: center;
	font-family: "Questrial Regular";
	font-weight: bolder;
	text-indent: 0;
	font-size: x-large;
}
.text-paragraph{
	text-align: center;
	font-family: "Questrial Regular";
	white-space: normal;
	vertical-align: baseline;
	text-indent: 0;
	line-height: 105%;
}

.list-unstyled{
	text-align: center;	
}

.nav-link{
	font-style: normal;
	font-family: "Questrial Regular";
	font-size: larger;
	text-decoration: none;
	text-align: center;
}

#menu_tag{
	position: relative;
	margin-left: 1095px;
}
.quotes{
	font-family: "Questrial Regular";
	text-align: right;
	font-style: italic;
	font-weight: bolder;
}
