@charset "UTF-8";
@import url("Questrial_Regular/stylesheet.css");
@import url("code128/stylesheet.css");
/* CSS Document */


html,
body 
{
	height: 100%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

#name{
	top: 20px;
	left: 30px;
	color: #EBEBEB;
	position: absolute;
}


nav {
	margin: 20px 0 0 0;
}
.navigation {
	position: relative;
	list-style: none;
	text-align: center;
	margin: 0;
}
.navigation li{
	display: inline-block;
	padding: 0 50px 0 0;
	color: #000000;
}

.slide
{
    width: 100%;
    position: relative;
    padding: 300px 0;
    text-align: center;
}

.title{
	font-family: "Questrial Regular";
	font-style: normal;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 504%;
	text-shadow: 0 6px 19px #000000;
	position: relative;
	top: 50%;
	border-width: medium;
	
	text-transform: capitalize;
	border-style: solid;
}

.title:hover {
	font-family: "Questrial Regular";
	font-style: normal;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 527%;
	text-shadow: 0 6px 19px #000000;
	position: relative;
	border-width: medium;
	-webkit-box-shadow: 0px 7px 60px 3px #000000;
	box-shadow: 0px 7px 60px 3px #000000;
	text-transform: capitalize;
	text-decoration: none;
}



#slide0,
#slide2,
#slide4,
#slide6
{
	height: 100%;
	background-color: #ffffff;
	box-shadow: 0 18px 14px -14px rgba(0,0,0,0.6), 0 -18px 14px -14px rgba(0,0,0,0.6);
	z-index: 10;
	
}

#slide1
{
    height: 100%;
    background-image:url('Images/Grafica/Vecchia_ritratto5000.png');
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	
}
 
#slide3
{
    background-image:url('Images/express_preview.png');
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
 
#slide5
{
    background-image:url('Images/Antibes.png');
    background-color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#nav{
	margin-top: 0;
	
}

.text-uppercase{
	text-align: center;
	font-family: "Questrial Regular";
	font-weight: bolder;
	text-indent: 0;
	font-size: x-large;	
}
.text-paragraph{
	font-family: "Questrial Regular";
	white-space: normal;
	vertical-align: baseline;
	text-indent: 0;
	line-height: 105%;
	text-align: center;
}

.list-unstyled{
	text-align: center;	
}

.nav-link{
	font-style: normal;
	font-family: "Questrial Regular";
	font-size: larger;
	text-decoration: none;
	text-align: center;
}
.navbar-brand{
	font-family: "Questrial Regular";
	font-style: normal;
	text-align: center;
	font-weight: 600;
}
.quotes{
	font-family: "Questrial Regular";
	text-align: right;
	font-style: italic;
	font-weight: bolder;
}

.sentence{
	font-family: "Questrial Regular";
	font-weight: 700;
	text-align: center;
}
#menu_tag{
	position: relative;
	margin-left: 1095px;
}